.git
.github
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.docker.example
!**/.env.example
.docker-state
**/.data
**/node_modules
**/dist
artifacts
cache
coverage
playwright-report
test-results
docs.zip
*.log
