VITE_APP_API_URL=http://localhost:4000/api
VITE_BLOCKCHAIN_API_URL=http://localhost:3000/api
VITE_CHAIN_ID=11155111
VITE_CONTRACT_ADDRESS=0x0bb21729BBDaBe54A289A1e924941F8F635Cab84
VITE_ETHERSCAN_BASE_URL=https://sepolia.etherscan.io
VITE_PUBLIC_APP_URL=http://localhost:5173
VITE_WALLETCONNECT_PROJECT_ID=
