PORT=4000
APP_ORIGIN=http://localhost:5173
SIWE_DOMAIN=localhost:5173
DATABASE_PATH=.data/pramaan-app.sqlite
APP_DATA_ENCRYPTION_KEY=replace-with-32-random-bytes-encoded-as-base64
SEPOLIA_RPC_URL=placeholder
BLOCKCHAIN_CHAIN_ID=11155111
PRAMAAN_CHAIN_ADDRESS=0x0bb21729BBDaBe54A289A1e924941F8F635Cab84
COOKIE_SECURE=false
